{% extends 'base.html' %}

{% block content %}
<div class="container text-center text-white my-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4">About Us</h1>
            <p class="lead">ANH stands for Abdinajib, Nasteha, and Hafsa.</p>
            <p class="mt-4">We are a dynamic team working on innovative projects, focused on bringing cutting-edge solutions to real-world problems. Our diverse expertise allows us to approach challenges from multiple perspectives, ensuring we deliver high-quality, impactful results.</p>
        </div>
    </div>
    
    <!-- Team Members Section -->
    <div class="row text-center mt-5">
        <div class="col-md-4">
            <img src="/static/images/najka-1.jpg" alt="Abdinajib" class="rounded-circle mb-3" width="150">
            <h3>Abdinajib</h3>
            <p>Team Developer</p>
        </div>
        <div class="col-md-4">
            <img src="/static/images/nasteha.jpg" alt="Nasteha" class="rounded-circle mb-3" width="150">
            <h3>Nasteha</h3>
            <p>Project Manager</p>
        </div>
        <div class="col-md-4">
            <img src="/static/images/hafsa.jpg" alt="Hafsa" class="rounded-circle mb-3" width="150">
            <h3>Hafsa</h3>
            <p>UX/UI Designer</p>
        </div>
    </div>
</div>
{% endblock %}
